/* CSS declarations go here */
.bar { background: blue; width: 10px; float: left;}
.container { padding-top: 11px; }
#search { width: 65%; }
li span { width: 100px; }

.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.area {
  fill: steelblue;
}

.graph { height: 160px; padding: 10px; margin-left: 0px; }
h4 { margin-top: 0px; }

